<section class="location" id="location">
  <div class="container">
    <h2 class="section-title">STRATEGIC LOCATION</h2>
    
    <div class="location-grid">
      <div class="location-info">
        <!-- <div class="location-categories">
          
            <div class="category">
            <h3>Healthcare</h3>
            <ul>
              <li>Apollo Hospitals - 5 Mins</li>
              <li>KIMS Hospitals - 7 Mins</li>
              <li>Continental Hospitals - 7 Mins</li>
              <li>CARE Hospitals - 10 Mins</li>
            </ul>
          </div>

          
          <div class="category">
            <h3>Education Hub</h3>
            <ul>
              <li>Future Kids School - 7 Mins</li>
              <li>The Gaudium School - 10 Mins</li>
              <li>Delhi Public School - 10 Mins</li>
              <li>IIIT Hyderabad - 20 Mins</li>
            </ul>
          </div>

          <div class="category">
            <h3>Work</h3>
            <ul>
              <li>Waverock - 10 Mins</li>
              <li>Wipro Circle - 15 Mins</li>
              <li>Knowledge City - 15 Mins</li>
              <li>Cyber Towers - 20 Mins</li>
            </ul>
          </div>
         
          
          
          <div class="category">
            <h3>Connectivity</h3>
            <ul>
              <li>Nehru ORR - 2 Mins</li>
              <li>Kokapet - 5 Mins</li>
              <li>Gachibowli - 5 Mins</li>
              <li>RGI International Airport - 25 Mins</li>
            </ul>
          </div>
        </div> -->

        <div class="location-categories">
  
  <div class="category">
    <h3>Healthcare</h3>
    <ul>
      <li>Apollo Hospital - 5 mins</li>
      <li>KIMS Hospital - 7 mins</li>
      <li>Continental Hospital - 7 mins</li>
      <li>CARE Hospital - 10 mins</li>
    </ul>
  </div>

  <div class="category">
    <h3>Education Hub</h3>
    <ul>
      <li>Future Kids School - 7 mins</li>
      <li>The Gaudium School - 10 mins</li>
      <li>Delhi Public School - 10 mins</li>
      <li>IIIT Hyderabad - 20 mins</li>
    </ul>
  </div>

  <div class="category">
    <h3>Work</h3>
    <ul>
      <li>Waverock - 10 mins</li>
      <li>Wipro Circle - 15 mins</li>
      <li>Knowledge City - 15 mins</li>
      <li>Cyber Towers - 20 mins</li>
    </ul>
  </div>

  <div class="category">
    <h3>Connectivity</h3>
    <ul>
      <li>Nehru ORR - 2 mins</li>
      <li>Kokapet - 5 mins</li>
      <li>Gachibowli - 5 mins</li>
      <li>International Airport - 25 mins</li>
    </ul>
  </div>

</div>


        <button mat-flat-button class="location-cta" (click)="openLocationModal()">GET DIRECTIONS</button>
      </div>
      
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.0703505189513!2d78.35415827478997!3d17.40841118348242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb95004d3da01d%3A0x61292d6fa1deb80d!2sLansum%20Encanto!5e0!3m2!1sen!2sin!4v1756297215545!5m2!1sen!2sin"
          width="100%"
          height="100%"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
</section>