<section class="overview" id="overview">
  <div class="container">
    <h2 class="section-title">PROJECT HIGHLIGHTS</h2>
    <div class="highlights-grid">
      <div class="highlight-item">
        <div class="highlight-icon">
          <img src="assets/icons/lprojectScale.png" alt="Towers">
        </div>
        <h3>Project Scale</h3>
        <p>5.7 Acres | 3 Towers | 60 Floors</p>
      </div>
       <div class="highlight-item">
        <div class="highlight-icon">
          <img src="assets/icons/lskylounge.png" alt="Sky Lounge">
        </div>
        <h3>Sky Lounge</h3>
        <p>2 Levels of Sky Lounge at Terrace</p>
      </div>
      <div class="highlight-item">
        <div class="highlight-icon">
          <img src="assets/icons/lresidences.png" alt="Residences">
        </div>
        <h3>Residences</h3>
        <p>690 Spacious 3 & 4 BHK Residences</p>
      </div>
      <div class="highlight-item">
        <div class="highlight-icon">
          <img src="assets/icons/llocation.png" alt="Location">
        </div>
        <h3>Prime Location</h3>
        <p>Next to Upcoming LULU Mall & 7 Star Hotel</p>
      </div>          
      <div class="highlight-item">
        <div class="highlight-icon">
          <img src="assets/icons/lclubhouse.png" alt="Clubhouse">
        </div>
        <h3>Exclusive Club</h3>
        <p>7 Star Clubhouse with 100+ Amenities</p>
      </div>
      <div class="highlight-item">
        <div class="highlight-icon">
          <img src="assets/icons/lsizeRange.png" alt="Size">
        </div>
        <h3>Size Range</h3>
        <p>4055 - 5045 Sq.Ft.</p>        
      </div>
    </div>   

  </div>
</section>